/* Theme */

main {
	background: #FAFAFA;
	color: #43A047;
}

.icons-social a {
	color: #43A047;
}

.icons-social a svg path{
	fill: #43A047;
}

a:link {
	color: #43A047;
  }
  
  a:visited {
	color: #43A047;
  }
  
  a:hover {
	color: #43A047;
  }
  
  a:active {
	color: #43A047;
  }