/* Theme */

main {
	background: #FAFAFA;
	color: #43A047;
}

.icons-social a {
	color: #43A047;
}

.icons-social a svg path{
	fill: #43A047;
}

.carousel-caption p {
	color: #FAFAFA;
}

.carousel-caption a:link {
	color: #FAFAFA;
}
  
.carousel-caption a:visited {
	color: #FAFAFA;
}
  
carousel-caption a:hover {
	color: #FAFAFA;
}
  
carousel-caption a:active {
	color: #FAFAFA;
}